/* -------------------------------------------------------------------------- */
/* :ROOT --> START */
:root {

    /* COLORS  */
    --color_Primary: #172a35;
    --color_Accent: rgb(111, 255, 233);
    
    /* COLORS - ALPHA */
    --color_shadow_025_black:  rgba(0,0,0,.25);
    --color_shadow_01_black:   rgba(0,0,0,.1);
  
    /* TITLE */
    --title_Color: #fefdff
    --title_Font: #0b132b;
    
    /* BACKGROUND */
    --bg_Body: #F9F9F9; /* A very light shade of white gray */    
    --bg_Container: #fefdff; /* A variation of white gray  */
    --bg_Container_Alt:  #fefdff; /* A variation of white gray  */
    
    /* BUTTONS */
    
    /* BOX SHADOWS*/
    --boxShadow_Top: 0 -.1rem .5rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_inset_Top:  inset 0px 11px 10px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_Inset_bottom:  inset 0px -11px 8px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_inset_Top_Right:  inset -10px 9px 7px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_bottom_accent_Primary: 0 .01rem .4rem var(--color_Accent); /* offset-x | offset-y | blur-radius | color */
    
    /* BOX SHADOWS - EFFECTS*/
    --boxShadow_top_hover_black_25a: 0 -.75rem 1rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_top_hover_black_1a:  0 -.1rem .5rem var(--color_shadow_01_black); /* offset-x | offset-y | blur-radius | color */
    
    
    /* BORDERS */
    --border_shadow_1px_25a: 1px solid var(--color_shadow_025_black);
    --border_shadow_1px_1a: 1px solid var(--color_shadow_01_black);
  }
  
/* :ROOT --> END */
/* -------------------------------------------------------------------------- */
/* ALL ELEMENTS --> START */

/* Defaults for Everything */
* {
    /* Ensures starting without defaults for easy control */
    padding: 0;
    margin: 0;
  }
  

body {
    box-sizing: border-box; /* prevent padding overflow */
    background-color: var(--bg_Body);
    font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  /* Default button styling */
  box-shadow: var(--boxShadow_inset_Top_Right);
}

h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

h1{
  font-weight: 400;
}
h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  margin: 1rem;
}

/* ALL ELEMENTS --> END */
/* -------------------------------------------------------------------------- */
/* HEADER & NAV --> START */

header {
  /* Animation on loading */
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  padding: .5rem;
  background-color: var(--color_Primary);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#appBranding {
  margin: 0 2rem;
}

nav {
  /* margin: 0 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* text-align: right; */
}
nav span {
  margin: 2rem 2rem 0 2rem;
  text-align: bottom;
}

/* END --> HEADER & NAV */
/* -------------------------------------------------------------------------- */
/* START --> FORECAST */

.response,
.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.city {
  width: 100%;
  /* box-shadow: var(--boxShadow_Inset_bottom); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 1rem;
  margin-right: 5rem;
  align-items: center;
  font-size: 1.25rem;
}


.city h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  
}

.city img {
  max-width: 50px;
}

#days{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 100px;
  align-items: center;
  box-shadow: var(--boxShadow_Inset_bottom);
  padding: 1rem 0;
  border: var(--border_shadow_1px_1a)
}

.day span {
  padding: 0;
}
/* .day_Header, */
.day_Details{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}



/* END --> DAYS */
/* -------------------------------------------------------------------------- */
/* START --> FOOTER */


/* FOOTER --> END */
/* -------------------------------------------------------------------------- */
/* MEDIA SPECIFIC --> START  */


@media screen and (max-width: 450px) {

}

/* MEDIA SPECIFIC --> END  */
/* -------------------------------------------------------------------------- */