
/* IMPORTS */
@import url(./animation.css);

/* -------------------------------------------------------------------------- */
/* :ROOT --> START */
:root {

    /* COLORS  */
    --color_Primary: #172a35;
    --color_Accent: rgb(111, 255, 233);
    
    /* COLORS - ALPHA */
    --color_shadow_025_black:  rgba(0,0,0,.25);
    --color_shadow_01_black:   rgba(0,0,0,.1);
  
    /* TITLE */
    --title_Color: #fefdff
    --title_Font: #0b132b;
    
    /* BACKGROUND */
    --bg_Body: #F9F9F9; /* A very light shade of white gray */    
    --bg_Container: #fefdff; /* A variation of white gray  */
    --bg_Container_Alt:  #fefdff; /* A variation of white gray  */
    
    /* BUTTONS */
    
    /* BOX SHADOWS*/
    --boxShadow_Top: 0 -.1rem .5rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_inset_Top:  inset 0px 11px 10px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_Inset_bottom:  inset 0px -11px 8px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_inset_Top_Right:  inset -10px 9px 7px -10px var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_bottom_accent_Primary: 0 .01rem .4rem var(--color_Accent); /* offset-x | offset-y | blur-radius | color */
    
    /* BOX SHADOWS - EFFECTS*/
    --boxShadow_top_hover_black_25a: 0 -.25rem 1rem var(--color_shadow_025_black); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_top_hover_black_1a:  0 -.1rem .5rem var(--color_shadow_01_black); /* offset-x | offset-y | blur-radius | color */
    
    
    /* BORDERS */
    --border_shadow_1px_25a: 1px solid var(--color_shadow_025_black);
    --border_shadow_1px_1a: 1px solid var(--color_shadow_01_black);
  }
  
/* :ROOT --> END */
/* -------------------------------------------------------------------------- */
/* ALL ELEMENTS --> START */

/* Defaults for Everything */
* {
    /* Ensures starting without defaults for easy control */
    padding: 0;
    margin: 0;
  }
  

  
body {
    box-sizing: border-box; /* prevent padding overflow */
    background-color: var(--bg_Body);

    
    /* Priamry Font  */
    font-family: 'Roboto', sans-serif;
    /* Secondary Font */
    font-family: 'Open Sans';
    /* Inline Code */
    /* font-family: 'Roboto Mono', monospace; */
    
}

button {
  /* Default button styling */
  box-shadow: var(--boxShadow_inset_Top_Right);
}

h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2rem;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  margin: 1rem;
}


/* Google Fonts Icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ALL ELEMENTS --> END */
/* -------------------------------------------------------------------------- */
/* START --> HEADER, SEARCH, HISTORY & INPUTS */


/*-- Title and Search to get forecast */
header {
  padding: .5rem;
  background-color: var(--bg_Container);
  color: var(--color_Primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: var(--boxShadow_Inset_bottom);
  /* hidden for JS animation to show */
  visibility: hidden;
}

#appBranding {
  margin: 0 2rem;
  flex: 2;
  
}
/*-- SECTION Container holding saerch input, icon and button */
.search{
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}

/*-- Standard styling for input */
input#cityName_Search_Input{
  box-shadow: var(--boxShadow_Top);
  border: 1px solid var(--border_shadow_1px_25a);
  text-align: center;
  font-weight: bold;
  flex: 5; /* makes sure search is always bigger */
  border-radius: .5rem 0 0 .5rem;
  min-width: 222;
  min-height: 48;
}

/*-- Add inline coloring for focus awareness */
input#cityName_Search_Input:focus {
  outline: .2px solid var(--color_Accent);
}

input::placeholder {
  /* color: var(--color_Primary); */
}


/*-- Get Forecast Button */
input#cityname_Search_Btn {
  border-radius: 0 .5rem .5rem 0;
}

/*-- Container holding Search History */
#section_SearchHistory{
  width: 25%;
  height: 10rem;
  float: right;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/*-- Search History Button */
input#clear_SearchHistory_Btn {
  border-radius: 0 0 .5rem .5rem;
  max-height: 3rem;
}


/*-- Styling for both Buttons */
input#clear_SearchHistory_Btn,
input#cityname_Search_Btn{
  background-color: var(--color_Primary);
  color: var(--bg_Body);
  height: 3rem;
  padding: 0 .5rem;
  flex: 1;
  box-shadow: var(--boxShadow_Top);
  cursor: pointer;
}

/*-- INPUT HOVER EFFECTS */

/*-- Brighten and add shadow to all inputs */
input#clear_SearchHistory_Btn:hover,
input#cityname_Search_Btn:hover,
input#cityName_Search_Input:hover {
  box-shadow: var(--boxShadow_top_hover_black_25a);
  filter: brightness(110%);
  text-decoration: none;
}

/*-- Change Font within btn */
input#clear_SearchHistory_Btn:hover,
input#cityname_Search_Btn:hover {
  color: var(--color_Accent);
  
}



/* END --> HEADER & INPUTS */
/* -------------------------------------------------------------------------- */
/* START --> BANNER */



section.banner{
  opacity: 0;
  box-shadow: var(--boxShadow_Top);
  color: red;
  /* background-color: var(--color_Primary); */
  /* border-bottom: 1px solid var(--color_shadow_01_black); */
  
  /* Make appear on top of screen */
  top: 1;
  position: absolute;
  z-index: 100;
  text-align: center;
  width: 100%;
  height: 2rem;
  margin: auto;
  justify-content: center;
}

.cityNotFound {
  opacity: 0;
  cursor: pointer;
  transition: visibility 0s linear 3000ms, opacity 3000ms;
}

/* END --> BANNER */
/* -------------------------------------------------------------------------- */
/* START --> FORECAST */

#parent {
  /* box-shadow: var(--boxShadow_Top); */
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section.forecast {
  margin: auto;
  width:70%;
  border-radius: .5rem;
  /* flex: 2; */
  background-color: var(--bg_Body);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

/* Container holding the city  */
#city {
  /* border: 1px solid red; */
  
}

/* Container holding the city  */
div.city {
  /* width: 5rem; */
  /* flex: 1; */
  /* box-shadow: var(--boxShadow_Inset_bottom); */
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;
  
  align-items: center;
  font-size: 1.25rem;
  
}


.city h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  
}

.city img {
  max-width: 50px;
}

/* Container holding the days */
#days{
  /* flex: 1;   */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* DIV Container holding each unique day */
.day {
  
  /* Styling inside of each day to make sure content look good */
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  
  align-items: center;
  margin: 0 .1rem;
  padding: 1rem;
  /* font-size: .75rem; */
  
}

.day span {
  padding: 0;
  /* border: 1px solid blue; */
  width: 100%;
  text-align: center;
}

.day .date {
  border-bottom: var(--border_shadow_1px_25a);
  width: 100%;
  text-align: center;
}

/* END --> FORECAST */
/* -------------------------------------------------------------------------- */
/* START --> FOOTER */


/* FOOTER --> END */
/* -------------------------------------------------------------------------- */
/* MEDIA SPECIFIC --> START  */

@media screen and (max-width: 965px) {
  
  /* history goes below current forecast */
  #parent {
    margin: 1rem auto;
    flex-direction: column;
  }


  /*-- Forecast fit screen and keeps on oneline */
  #forecast_Section{
    width: 90%;
    margin: auto;
    justify-content: space-between;
    
  }

  /*-- Search fit screen and add styling to division more claer */
  #section_SearchHistory{
    display: none;
    width: 90%;
    margin: auto;
    box-shadow: var(--boxShadow_inset_Top);
  }
}

@media screen and (max-width: 755px) {

  
  header,
  .search {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 1rem 0;
    width: 100%;
  }
  
  #appBranding {
    margin: 1rem;
    text-align: center;
    
  }

  input#cityName_Search_Input{
    border-radius: .5rem .5rem 0 0;
  }

  input#cityname_Search_Btn {
    border-radius: 0 0 .5rem .5rem;
  }

  input#cityName_Search_Input,
  input#cityname_Search_Btn {
    /* margin: 1rem 0; */
    /* padding: 1rem 0; */
    margin: auto;
    min-height: 3rem;
    width: 90%;
  }
  
  /*-- Forecast fit screen and keeps on oneline */
  #forecast_Section{
    width: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: center; 
  }
  
  div.city {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: var(--border_shadow_1px_1a);
    font-size: 1rem;
    flex-flow: nowrap;
  }

  .day,
  #days
  {
    flex: 5; 
    margin: 0;
    /* padding: 0; */
    /* white-space: nowrap; */
  }
}


@media screen and (max-width: 555px) {

  #days,
  div.city {
    flex-direction: column;
    
    width: 80%;
    flex: 1;
    margin: auto;
  }
  .day {
    flex-direction: row;
    flex-flow: nowrap;
  }

  
}


/* MEDIA SPECIFIC --> END  */
/* -------------------------------------------------------------------------- */